@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@600&family=Orienta&display=swap');

header {
    text-align: left;
    background-color: #078d69;
}

.bgbtn1 {
    background-color: #ffe81f;
    color: #000000;
    border: 1px solid #000000;
    border-width: 4px;
    font-size: 25px;
    font-weight: bold;
}
